In [9]:
# Given tuple of phone brands
phone_brands = ("samsung", "iphone", "tecno", "redmi")

# My favorite brand 
favorite = "samsung"

# Check if favorite is in the tuple and print it
if favorite in phone_brands:
    print(f"My favorite phone brand is: {favorite}")
else:
    print(f"{favorite} is not in our list of brands")

My favorite phone brand is: samsung

In [10]:
# Given tuple
phone_brands = ("samsung", "iphone", "tecno", "redmi")

# Using negative indexing (-2 refers to the second last item)
second_last = phone_brands[-2]

print("The second last phone brand is:", second_last)

The second last phone brand is: tecno

In [11]:
phones = ("samsung", "iphone", "tecno", "redmi")  # Original tuple

# Convert to list (since lists are mutable)
phones_list = list(phones)  

# Update "iphone" to "itel"
phones_list[1] = "itel"  

# Convert back to tuple
updated_phones = tuple(phones_list)  

print("Updated phones tuple:", updated_phones)

Updated phones tuple: ('samsung', 'itel', 'tecno', 'redmi')

In [12]:
# Original tuple
phones = ("samsung", "iphone", "tecno", "redmi")

# Add "Huawei" by creating a new tuple
updated_phones = phones + ("Huawei",)  # Note the comma for single-item tuple

print("Updated tuple:", updated_phones)

Updated tuple: ('samsung', 'iphone', 'tecno', 'redmi', 'Huawei')

In [13]:
phones = ("samsung", "iphone", "tecno", "redmi")

print("Phone brands:")
for phone in phones:
    print(phone)

Phone brands:
samsung
iphone
tecno
redmi

In [14]:
phones = ("samsung", "iphone", "tecno", "redmi")

# Remove the first item by slicing from index 1 onward
updated_phones = phones[1:]

print("Original tuple:", phones)
print("Updated tuple (without first item):", updated_phones)

Original tuple: ('samsung', 'iphone', 'tecno', 'redmi')
Updated tuple (without first item): ('iphone', 'tecno', 'redmi')

In [15]:
# Create a tuple of Ugandan cities using the tuple() constructor
uganda_cities = tuple(["Kampala", "Entebbe", "Jinja", "Mbarara", "Gulu", "Mbale", "Fort Portal"])

# Print the tuple
print("Cities in Uganda:", uganda_cities)

Cities in Uganda: ('Kampala', 'Entebbe', 'Jinja', 'Mbarara', 'Gulu', 'Mbale', 'Fort Portal')

In [16]:
# Tuple of Ugandan cities
uganda_cities = ("Kampala", "Entebbe", "Jinja", "Mbarara", "Gulu")

# Unpacking the tuple into separate variables
city1, city2, city3, city4, city5 = uganda_cities

# Printing the unpacked values
print("Unpacked cities:")
print("City 1:", city1)
print("City 2:", city2)
print("City 3:", city3)
print("City 4:", city4)
print("City 5:", city5)

Unpacked cities:
City 1: Kampala
City 2: Entebbe
City 3: Jinja
City 4: Mbarara
City 5: Gulu

In [17]:
# Tuple of Ugandan cities
uganda_cities = ("Kampala", "Entebbe", "Jinja", "Mbarara", "Gulu", "Mbale", "Fort Portal")

# Print 2nd, 3rd and 4th cities (indexes 1, 2, 3)
print("Selected cities:", uganda_cities[1:4])

Selected cities: ('Entebbe', 'Jinja', 'Mbarara')

In [27]:
# Tuples containing first names and second names
first_name = ('Aloysious ')
second_name = ('Mutagubya')

# Joining the two tuples
Full_name = first_name + second_name

print(Full_name)

Aloysious Mutagubya

In [28]:
colors = ("red", "green", "blue")  
multiplied_colors = colors * 3  

print(multiplied_colors)

('red', 'green', 'blue', 'red', 'green', 'blue', 'red', 'green', 'blue')

In [35]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
count_8 = thistuple.count(8)

print("8 appears",count_8 ,"times")

8 appears 2 times