In [1]:
# Declare variables
age = 23          # Integer
name = "Mus"    # String

# Concatenate after converting the integer to a string
result = name + " is " + str(age) + " years old."

print(result)

Mus is 23 years old.

In [2]:
txt = "      Hello,       Uganda!       "
cleaned_txt = txt.replace(" ", "")  # Replaces ALL spaces with nothing
print(cleaned_txt)

Hello,Uganda!

In [4]:
txt = "      Hello,       Uganda!       "
cleaned_txt = txt.replace(" ", "")  # Replaces ALL spaces with nothing
print(cleaned_txt)
uppercase_txt = txt.upper()  # Converts all characters to uppercase
print(uppercase_txt)

Hello,Uganda!
      HELLO,       UGANDA!

In [5]:
txt = "      Hello,       Uganda!       "
# Replace 'U' with 'V' (case-sensitive)
modified_txt = txt.replace("U", "V")

print(modified_txt)

      Hello,       Vganda!

In [6]:
y = "I am proudly Ugandan"

# Extract characters from index 1 (2nd position) to index 4 (5th position, exclusive)
range_of_chars = y[1:4]  # Slicing from index 1 to 3 (4 is excluded)

print(range_of_chars)

 am

In [7]:
x = 'All "Data Scientists" are cool!'
print(x)

All "Data Scientists" are cool!