In [1]:
print("hello Mus")

hello Mus

In [1]:
#a list with 5 names
names = ["Stef", "Mus", "Chloe", "Mark", "Mike"]

# Output the 2nd item 
print("The second item in the list is:", names[1])

The second item in the list is: Mus

# Original list
names = ["Stef", "Mus", "Chloe", "Mark", "Mike"]

# Change the first item (index 0) to a new value
names[0] = "Mutooro"

# Print the updated list
print("Updated list:", names)

In [5]:
# Original list
names = ["Stef", "Mus", "Chloe", "Mark", "Mike"]

# Add sixth item
names.append("Bbosa")

# Print the updated list
print("Updated list:", names)

Updated list: ['Stef', 'Mus', 'Chloe', 'Mark', 'Mike', 'Bbosa']

In [7]:
# Original list
names = ["Stef", "Mus", "Chloe", "Mark", "Mike"]

# Add as the 3rd item
names.insert(2, "Bathel")

# Print the updated list
print("Updated list:", names)

Updated list: ['Stef', 'Mus', 'Bathel', 'Chloe', 'Mark', 'Mike']

In [8]:
# Original list
names =['Stef', 'Mus', 'Bathel', 'Chloe', 'Mark', 'Mike']

# remove the 4th item
remove_item = names.pop(3)

# Print the updated list
print("Updated list:", names)
print("removed item:", remove_item )

Updated list: ['Stef', 'Mus', 'Bathel', 'Mark', 'Mike']
removed item: Chloe

In [9]:
# Original list
names =['Stef', 'Mus', 'Bathel', 'Chloe', 'Mark', 'Mike']

#use negative index to print the last item
print("The last item in the list is:", names[-1])

The last item in the list is: Mike

In [11]:
# Create a list with 7 items
items = ["Apple", "Banana", "pineapple", "kiwi", "mango", "cocoa", "Grape"]

# Print the 3rd, 4th, and 5th items (indices 2, 3, 4)
print("3rd, 4th, and 5th items:", items[2:5])

3rd, 4th, and 5th items: ['pineapple', 'kiwi', 'mango']

In [13]:
# Original list of countries
countries = ["USA", "Canada", "Germany", "Japan", "Australia"]

# Make a copy of the list (using .copy() method)
countries_copy = countries.copy()

print("Copied list (updated):", countries_copy)

Copied list (updated): ['USA', 'Canada', 'Germany', 'Japan', 'Australia']

In [16]:
countries = ["USA", "Canada", "Germany", "Japan", "Australia"]

print("List of countries:")
for country in countries:
    print(country)

List of countries:
USA
Canada
Germany
Japan
Australia

In [17]:
# List of animal names
animals = ["Lion", "Elephant", "Tiger", "Giraffe", "Zebra", "Monkey", "Kangaroo"]

# Sort in ascending order (A-Z)
ascending_order = sorted(animals)  # or animals.sort() for in-place sorting

# Sort in descending order (Z-A)
descending_order = sorted(animals, reverse=True)  # or animals.sort(reverse=True)

# Print results
print("Original list:", animals)
print("Ascending order:", ascending_order)
print("Descending order:", descending_order)

Original list: ['Lion', 'Elephant', 'Tiger', 'Giraffe', 'Zebra', 'Monkey', 'Kangaroo']
Ascending order: ['Elephant', 'Giraffe', 'Kangaroo', 'Lion', 'Monkey', 'Tiger', 'Zebra']
Descending order: ['Zebra', 'Tiger', 'Monkey', 'Lion', 'Kangaroo', 'Giraffe', 'Elephant']

In [18]:
# List of animal names
animals = ["Lion", "Elephant", "Tiger", "Giraffe", "Zebra", "Monkey", "Kangaroo"]

# Filter animals with 'a' or 'A' in their names
animals_with_a = [animal for animal in animals if 'a' in animal.lower()]

# Print the result
print("Animal names containing letter 'a':", animals_with_a)

Animal names containing letter 'a': ['Elephant', 'Giraffe', 'Zebra', 'Kangaroo']

In [19]:
# First names list
first_names = ["Aloysious"]

# Second names list
second_names = ["Mutagubya"]

# Join the two lists to create full names (using zip() and list comprehension)
full_names = [f"{first} {second}" for first, second in zip(first_names, second_names)]

# Print the results
print("First Names:", first_names)
print("Second Names:", second_names)
print("Full Names:", full_names)

First Names: ['Aloysious']
Second Names: ['Mutagubya']
Full Names: ['Aloysious Mutagubya']